:root {
    --themecolor: rgb(31, 128, 255);
    --conmesscolor: rgb(170, 184, 204);
    --messageinputcolor: rgb(241, 247, 255);
    --maincontainerbg: rgb(248, 248, 248);
    --white: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--conmesscolor) rgba(0,0,0,0.5);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #eee;
}
body * {
    scrollbar-width: thin;
    scrollbar-color: rgba(0,0,0,0.5) transparent;
}

/* Name Overlay Container */
.loginoverlay {
    height: 100vh;
    width: 100%;
    background: rgb(235, 235, 235);
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    .formcontainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        height: 100%;
        position: relative;
        .imgcontainer {
            width: 300px;
            img {
                width: 100%;
            }
        }
        form {
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 300px;
            padding: 20px;
            background: var(--white);
            border-radius: 20px;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
            h2 {
                margin-bottom: 20px;
            }
            .userforminput, .userformsubmit {
                padding: 12px;
                border-radius: 20px;
                font-size: 16px;
                text-align: center;
                border: 1px solid rgba(0, 0, 0, 0.2);
            }
            .userforminput {
                margin-bottom: 20px;     
                outline: 0;
            }
            .userformsubmit {
                background: var(--themecolor);
                color: var(--white);
            }
        }
        .cornerimg {
            position: absolute;
            z-index: -1;
        }
        .bl {
            bottom: 0;
            left: 0;
        }
        .br {
            bottom: 0;
            right: 0;
        }
    }
}


/* Main Content */
.maincontainer {
    width: 100%;
    max-width: 800px;
    margin: 100px auto;
    height: 600px;
    background: var(--maincontainerbg);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
    position: relative;
    .innermain {
        overflow: auto;
        height: 100%;
        .navcontainer {
            background: var(--themecolor);
            color: white;
            height: 80px;
            position: sticky;
            z-index: 5;
            top: 0;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
            transition: 0.15s;
            .navbar {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 80%;
                margin: auto;
                height: 100%;
                h2 {
                    letter-spacing: 2px;
                    text-transform: uppercase;
                }
                span {
                    cursor: pointer;
                    font-size: 20px;
                }
            }
        }
        .message-container {
            padding: 16px;
            width: 100%;
            display: grid;
            grid-gap: 20px;
            grid-template-columns: 1fr;
            margin-bottom: 60px;
            .message {
                display: flex;
                animation: ease-in 0.05s fadetop;
                .conmess {
                    text-align: center;
                    background: var(--conmesscolor);
                    font-size: 14px;
                    border-radius: 3px;
                    width: 150px;
                    padding: 12px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
                    transition: 0.15s;
                }
            }
            .messagecenter {
                justify-content: center;
            }
            .messageleftcont {
                justify-content: flex-start;
            }
            .messagerightcont {
                justify-content: flex-end;
            }
            .messageleft {
                color: #000;
                background: var(--white);
            }
            .messageleft,
            .messageright {
                padding: 12px 16px;
                border-radius: 50px;
                background: var(--themecolor);
                color: var(--white);
                box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
                transition: 0.15s;
            }
            .messageright {
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    right: 18px;
                    width: 4px;
                    height: 4px;
                    border-radius: 2px;
                    background: var(--themecolor);
                    transition: 0.2s;
                }
            }
            .messageright:hover::after {
                right: -2px;
            }
            .messageleft {
                color: #000;
                background: var(--white);
                .username {
                    color: var(--themecolor);
                    font-size: 12px;
                    transition: 0.15s;
                }
            }
            .emoji {
                font-size: 32px;
            }            
        }
    }

    .sidebar {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 7;
        height: 100%;
        width: 0;
        background: var(--messageinputcolor);
        overflow-x: hidden;
        transition: 0.35s;
        hr {
            margin: 20px;
            color: rgba(0,0,0,0.3)
        }
        .activeuserscont {
            padding-top: 16px;
            width: 300px;
            .activeusertitlecont {
                width: 90%;
                margin: auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                #activeusertitle {
                    font-size: 20px;
                }
                .sidetitle {
                    border-radius: 8px;
                    padding: 8px;
                    box-shadow: 4px 4px 4px rgba(0,0,0,0.15);
                }
            }
            .useractivelist {
                margin-top: 16px;
                max-height: 240px;
                overflow: auto;
                border-radius: 4px;
                background: #fff;
                .activeusersname {
                    padding: 10px 20px;
                    line-height: 40px;
                    transition: 0.1s;
                    &::before{
                        content:attr(data-inital);
                        display: inline-block;
                        text-align: center;
                        border-radius: 50%;
                        font-size: 16px;
                        width: 40px;
                        height: 40px;
                        color: #fff;
                        background: var(--themecolor);
                        margin-right: 8px;
                        transition: 0.15s;
                    }
                    &:hover {
                        background: #e2e2e2;
                    }
                }
            }
        }
        
    }


    .footer {
        position: absolute;
        bottom: 0;
        background-color: var(--maincontainerbg);
        width: 100%;
        padding: 12px;
        height: auto;
        .send-container {
            width: 100%;
            display: flex;
            .message-input {
                padding: 12px;
                border: 0;
                border-bottom: 2px solid var(--themecolor);
                border-radius: 4px;
                outline: 0;
                flex-grow: 1;
                transition: 0.15s;
                &:focus {
                    background: var(--messageinputcolor);
                    border-color: var(--themecolor);
                }
                &:active {
                    outline: 0;
                }
            }
            .send-button {
                margin-left: 4px;
                border: 2px solid var(--themecolor);
                background: var(--white);
                border-radius: 20px;
                font-size: 16px;
                padding: 0 20px;
                transition: 0.15s;
                &:hover {
                    color: var(--white);
                    background: var(--themecolor);
                }
                &:active {
                    color: var(--white);
                    box-shadow: 0 0 50px 50px var(--themecolor) inset, 0 0 10px var(--themecolor);
                }
            }
        }
    }
    .screencover {
        position: absolute;
        z-index: 6;
        display: none;
        background: rgba(0,0,0,0.6);
        height: 100%;
        width: 100%;
    }
}


@keyframes fadetop {
    from {
        transform: translateY(8px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}



@media screen and (max-width: 780px) {
    .formcontainer {
        grid-template-columns: 1fr;
    }

    .formcontainer .imgcontainer {
        display: none;
    }

}